@font-face {
    font-family: 'Manrope'; /*a name to be used later*/
    src: url('fonts/manrope-bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: inter; /*a name to be used later*/
    src: url('fonts/inter.ttf'); /*URL to font*/
}

::-webkit-scrollbar {
	width: 10px;
	background-color: rgb(30, 30, 30);
  }
  
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(60, 60, 60);
}
  
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: rgb(35, 35, 35);
}
.navig{
	padding:10px;
}
main{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;}
body{
	background: rgb(15, 15, 15);
  	justify-content: center;
  	margin: 0;
  	font-family: "inter";
}
.navig{
	padding:10px;
}
.navig .icon {
    display: none;
    margin-top: 2%;
  }

.navig .menu_butt{
	animation: ease-in-out;
    font-size: 120%;
    vertical-align: bottom;
    margin-left: 0.5%;
    margin-right: 0.5%;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    margin-top:10px;
    position: relative;
    text-align: center;
    transition: transform 500ms;
    font-family: inter;
    float: right;

	
}


.navig .menu_butt:hover{
	background: rgb(15, 15, 15);
	border-radius: 25px;
}

#login{
	background-color: rgb(15, 15, 15);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1%;
	left: 0;
	right: 0;
	position: relative;
	z-index:500;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
    align-items: center;

	
}



#login h1{
	margin-top:0%;
	color: white;
	margin-bottom: 0.5%;
	text-align: center;
	font-family: "Manrope";
}
#login a{
	color: white;
	margin-bottom: 1%;
	font-family: inter;
	font-size: 90%;
    margin-top: 1%;

}

#login h4{
	color: white;
	margin-bottom: 1%;
	font-family: inter;
	font-size: 90%;
    margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;

}

#login h3{
	color: white;
	margin-bottom: 1%;
	font-family: inter;
	font-size: 120%;
    margin: 0%;
    background-color: rgb(43, 43, 43);
    padding: 0.7%;
    border-radius: 10px;
    cursor: pointer;
	margin-left: 1%;
	margin-right: 1%;
}


#me h1{
	margin-top:0%;
	color: white;
	margin-bottom: 0.5%;
	text-align: center;
	font-family: "Manrope";
}
#me .a{
	color: rgb(250, 169, 19);
	margin-bottom: 1%;
	font-family: "inter";
	font-size: 100%;
    margin-top: 1%;
	text-decoration: none;
	background-color: rgb(43, 43, 43);
    padding: 0.7%;
    border-radius: 10px;

}
#me{
	background-color: rgb(15, 15, 15);
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1%;
	left: 0;
	right: 0;
	position: relative;
	z-index:500;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
    align-items: center;
	display: none;
	

	
}

#me div{
	background-color: rgb(15, 15, 15);
	display:flex;
	align-items: center;
	justify-content: center;
	
}

#name{
	margin-left:5%;
	white-space:nowrap;
}

#ItemPreview{
	border-radius: 50%;
	width:100px;
	height: 100px;
	
}

#logout{
	cursor: pointer;
	background-color: rgb(43, 43, 43);
    padding: 0.6%;
    border-radius: 10px;
	font-size: 100%;
}
#me hr{
	width: 69%;
	border: 1px solid rgb(105, 105, 105);
	margin-bottom: 1%;
}
#balance{
	margin-left: 5%;
	color: white;
	white-space:nowrap;
	font-family: "inter";
	font-size: 130%;
    margin-top: 1%;
	text-decoration: none;
	background-color: rgb(43, 43, 43);
    padding: 3%;
    border-radius: 30px;
}
@media(max-width: 425px){
	
	.navig img{
		width:12%;
	}
	
	
	.navig .menu_butt{

		animation: ease-in-out;
		font-size: 100%;
		vertical-align: bottom;
		margin-left: 0.5%;
		margin-right:0.5%;
		color: rgb(255, 255, 255);
		padding: 1%;
		text-decoration: none;
		margin-bottom: 2%;
		display: inline-block;
	   	text-align:center; 
	   	transition: transform 500ms;

	   	font-family: inter;
	}
	
	


	.navig a:not(:first-child) {
	    display: none;
	  }
	.navig a.icon {
	    float: right;
	    display: block;
	    background-color: rgb(30, 30, 30);
	    border-radius: 25px;
	    padding: 2%;
	    color: white;
	    text-decoration: none;


	  }

	 .navig.responsive {position: relative;}

	  .navig.responsive a.menu_butt {
	    float: none;
	    display: block;
	    text-align: right;

	  }

    #login h4{
        color: white;
        margin-bottom: 1%;
        font-family: inter;
        font-size: 85%;
        margin-top: 1%;
		margin-left: 1%;
		margin-right: 1%;
		padding: 1%;
    
    }
    
    #login h3{
        color: white;
        margin-bottom: 1%;
        font-family: inter;
        font-size: 90%;
        margin: 0%;
        background-color: rgb(43, 43, 43);
        padding: 1%;
        border-radius: 10px;
		margin-left: 2%;
		margin-right: 2%;
    }
	#login #logbtn{

		padding: 3%;
    }

	#me h1{
        color: white;
        margin-bottom: 1%;
        font-family: inter;
        font-size: 90%;
        margin-top: 1%;
		margin-left: 1%;
		margin-right: 1%;
		padding: 2%;
    
    }

	#ItemPreview{
		width:40px;
		height: 40px;
	}
    #balance{
		font-size: 80%;
		margin-left:1%;
		
	}

	#me .a{
		padding: 2%;
	}


}